<div class="pure-g article__wrap__grid--fixed ga--god-network mt2">
	{{#each WP.GoDBelt}}
	{{#gte @index compare=../index_start}}
	{{#gte @index compare=../index_end}}
	{{else}}
	<div class="pure-u-1 pure-u-md-1-4">
		<div class="article__grid">
			<div class="article__partner">
				<a href="{{subtitle_link}}" target="_blank">
					<img src="{{subtitle_img}}"/>
				</a>
			</div>
			<a{{#if duration}} class="video__button__play"{{/if}} href="artikel.html">
				<div class="article__asset article__asset--god" style="background-image:url({{img}});">
					{{#if duration}}
					<span class="icon-play icon-play--small video__button__play__item"></span>
					{{/if}}
				</div>
			</a>
			<div class="article__box">
				<div class="article__title"><a class="article__link" href="artikel.html">{{title}}</a></div>
			</div>
		</div>
	</div>
	{{/gte}}
	{{else}}
	{{/gte}}
	{{/each}}
</div>
