<div class="kompas ga--harian-kompas mt2 clearfix">
	{{#each WP.Kompasid}}
	<div class="article__grid">
		<div class="article__asset article__asset--kompasid">
			<a class="article__link" href="{{link}}">
				<img src="{{img}}" alt="{{title}}" />
			</a>
		</div>
		<div class="article__title article__title--kompasid">
			<a class="article__link" href="{{link}}">{{title}}</a>
		</div>
		<div class="article__footnote">Baca selengkapnya di Kompas.id. Dapatkan akses penuh berita Kompas.id dengan berlangganan.</div>
	</div>
	{{/each}}
</div>
