<div class="opinion__wrap mt2 clearfix">
	{{#each Opinion.Latest}}
	{{#gte @index compare=../index_start}}
	{{#gte @index compare=../index_end}}
	{{else}}
	<div class="opinion__list clearfix">
		<div class="opinion__asset opinion--pull-left">
			<img src="https://asset.kompas.com/crop/0x0:0x0/100x100/left/data/photo/{{author_img}}"/>
		</div>
		<div class="opinion__author">
			<a class="opinion__link" href="opini-author.html">{{author}}</a>
		</div>
		<div class="opinion__authortitle">{{author_title}}</div>
		<h4 class="opinion__title">
			<a class="opinion__link" href="artikel-opini.html">{{title}}</a>
		</h4>
	</div>
	{{/gte}}
	{{else}}
	{{/gte}}
	{{/each}}
</div>
